

/*PRODUCTS MAIN MENU */
   header {
        background-color: #97632b;
        position: fixed;
        z-index: 50;
        width: 100%;
        height: auto;
        box-shadow: 0 4px 6px rgba(-50, 0, 0, 0.2); /* Adds a shadow */
    }

    .menu {
        background-color: #97632b;
        box-shadow: -20px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a shadow */
    }

    .menu .dropdown{
        background-color: #97632b;
        box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a shadow */
    }

        /* Base styles for the top image */
    .top-image {
        position: relative;
        display: flex;
        width: 100%;
        height: 30%; /* Adjust height as needed */
        overflow: hidden;
    }

        
    .top-image {
        position: relative;
    }

    .top-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Carousel Overlay */
    .carousel-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        pointer-events: none;
    }

    /* Carousel Container */
    .carousel {
        width: 80%; /* Adjust width */
        height: 80%; /* Adjust height */
        overflow: hidden;
        position: relative;
    }

    /* Carousel Slides */
    .carousel-slide {
        display: flex;
        width: 300%;

        animation: slide-animation 12s infinite;
    }

    .carousel-slide img {
        width: 20%;
        margin-left: 10rem;
        height: auto;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 8px; /* Optional: adds rounded corners */
    }



    



img {
    max-width: 100%;
    height: auto;
}

section {   
    padding: 0; 
    text-align: center; 

}

.image-container { 
    display: flex; 
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5% ;
    
}


.image-container2 img {
    width: 100%; /* Set to 100% to make it responsive */
    height: auto; /* Maintain aspect ratio */
}

.image2 {
    width: 80%; /* Increase size for image 2 */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Optional: Set a max width */
}

.image3 {
    width: 80%; /* Increase size for image 3 */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Optional: Set a max width */
}

.image4 {
    width: 80%; /* Increase size for image 4 */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Optional: Set a max width */
}


.image-wrapper {
    position: relative; /* Position relative for the wrapper */
}


.text1, .text2, .text3 {
    font-size: 1.5rem; /* Responsive font size */
    margin: 10px 5%; /* Reduced horizontal margin */
    color: #000; /* Text color */
    background-color: #d4d700; /* Semi-transparent background */
    padding: .5rem; /* Padding around the text */
    font-family: 'Koulen', sans-serif; /* Use the Koulen font */
    text-align: center; /* Center text */
    max-width: 20%; /* Set a maximum width to limit the text border */
    margin-left: auto; /* Center the text horizontally */
    margin-right: auto; /* Center the text horizontally */
}

.text4 {

    font-size: 1.5rem; /* Responsive font size */
    margin: 10px 5%; /* Reduced horizontal margin */
    color: #ffffff; /* Text color */
    padding: .5rem; /* Padding around the text */
    font-family: 'Koulen', sans-serif; /* Use the Koulen font */
    text-align: center; /* Center text */
    max-width: 50%; /* Set a maximum width to limit the text border */
    margin-left: auto; /* Center the text horizontally */
    margin-right: auto; /* Center the text horizontally */


}



    /* Animation for Sliding */
    @keyframes slide-animation {
        0% { transform: translateX(0); }
        33% { transform: translateX(-35%); }
        66% { transform: translateX(-65%); }
        80%{ transform: translateX(0); }
    }

    
    @media (min-width: 767px) { 
        .menu{
            box-shadow: none;
        }
    }

    @media (max-width: 612px) {
        .top-image {
        margin-top: 3%;
        position: relative;
        width: 100%;
        height: 300px; /* Adjust height as needed */
        overflow: hidden;
        }   
        
    }



