

/*PRODUCTS MAIN MENU */


img {
    max-width: 100%;
    height: auto;
}

section {   
    padding: 0; 
    text-align: center; 

}

.image-container { 
    display: flex; 
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5% ;
    
}


.image-container2 img {
    width: 100%; /* Set to 100% to make it responsive */
    height: auto; /* Maintain aspect ratio */
}

.image2 {
    width: 80%; /* Increase size for image 2 */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Optional: Set a max width */
}

.image3 {
    width: 80%; /* Increase size for image 3 */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Optional: Set a max width */
}

.image4 {
    width: 80%; /* Increase size for image 4 */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Optional: Set a max width */
}


.image-wrapper {
    position: relative; /* Position relative for the wrapper */
}


.text1, .text2, .text3 {
    font-size: 1.5rem; /* Responsive font size */
    margin: 10px 5%; /* Reduced horizontal margin */
    color: #000; /* Text color */
    background-color: #d4d700; /* Semi-transparent background */
    padding: .5rem; /* Padding around the text */
    font-family: 'Koulen', sans-serif; /* Use the Koulen font */
    text-align: center; /* Center text */
    max-width: 20%; /* Set a maximum width to limit the text border */
    margin-left: auto; /* Center the text horizontally */
    margin-right: auto; /* Center the text horizontally */
}

.text4 {

    font-size: 1.5rem; /* Responsive font size */
    margin: 10px 5%; /* Reduced horizontal margin */
    color: #ffffff; /* Text color */
    padding: .5rem; /* Padding around the text */
    font-family: 'Koulen', sans-serif; /* Use the Koulen font */
    text-align: center; /* Center text */
    max-width: 50%; /* Set a maximum width to limit the text border */
    margin-left: auto; /* Center the text horizontally */
    margin-right: auto; /* Center the text horizontally */


}


